/* === Current Position - EDIT THE SECOND NUMBER ON THE FIRST LINE TO CHANGE === */
.side .md table:nth-of-type(2) tr:nth-of-type(2) { background: #d0e2f3; }

.side .md table:nth-of-type(3) tr:nth-of-type(1) { background: #d0e2f3; }

.side .md table:nth-of-type(2) .side .md table td:nth-of-type(4) { font-weight: bold; }

/* === Sticky thread === */
 /*.content {
    padding-top: 40pxf
    }

/* - Top Navigation Bar - */
*{
  box-sizing: border-box;
}

#sr-header-area{
  position: absolute;
  top: 0;
  left:0;
  display: block;
  height: 1.25rem;
  width:100%;
  background:#1F2041 ;
  border-bottom: none!important;
  color: #f0f0f0
}

.sr-bar a,#sr-more-link,.pagename,.dropdown.srdrop .selected{
  color:#f0f0f0;
}

.RESShortcutsCurrentSub:visited {
color: #C42323 !important;
}

/* Formatting for subscriber/online user numbers */
.titlebox .word { display: none }
.titlebox .number:after { content: " Dedicated Stokies"; }
.titlebox .users-online span.number:after { content: " Stokies eagerly anticipating the next win"; }

.side .titlebox .redditname a,
.side .titlebox .md hr,
.side .titlebox .md>hr+h4,
.side .titlebox .md>hr+h4+h1,
.side .titlebox .md>hr+h4+h2,
.side .titlebox .md>hr+h4+h3,
.side .titlebox .md>hr+h4+h4,
.side .titlebox .md>hr+h4+h5,
.side .titlebox .md>hr+h4+h6,
.side .bottom .flair,
.sidecontentbox .flair,
#siteTable .flair {
    display: none!important
}

#header-img {
  display: none;
}

/* Tab Menu */
#header {
    position: static;
    display: block;
    width: 100%;
    height: 32px;
    padding: 0 20px;
    border: none;
    margin-top:146px;
    margin-left: auto;
    margin-right: auto;
    background: #B8122B;
    }

#header-bottom-left {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 100%;
    background: transparent;
    width:100%;
    }
#header-bottom-left .pagename{
  text-indent: -9999px;
  margin: 0;
}
#header-bottom-left .pagename a{
    padding: 2px;
    margin: 0 5px 0  0;
    text-transform: uppercase;
    color: #FFF;
    }

#header-bottom-left .pagename a:before {
    content:"";
    position: absolute;
    top: 35px;
    left:50%;
    z-index: 2;
    height: 100px;
    width: 100px;
    margin-left: -40px;
    background-image: url(%%logo%%);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100px;
    }

.side .titlebox .md hr+h4+h1+ul:before,
.side .titlebox .md hr+h4+h1+ul:after {
    content: "";
    display: table
}

.side .titlebox .md hr+h4+h1+ul:after {
    clear: both
}

.side .titlebox .md hr+h4+h1+ul {
    position: absolute;
    top: 1.25rem;
    left: 0;
    width: 100%;
    padding: 4rem 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url(%%headerbg%%);
    background-position: 0 -400px;
    list-style: none;
    z-index:-1;
}
.side .titlebox .md hr+h4+h1+ul li {
    display: block;
    width: 50%;
    float: left
}
#header-bottom-left .tabmenu {
    display: flex;
    margin: 0;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    }

#header-bottom-left .tabmenu li {
    margin-left: 0px;
    margin-right: 0px;
    padding: 7px;
    display: block;
    }

#header-bottom-left .tabmenu li a {
    padding: 2px;
    border: 0px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: capitalize;
    background: transparent;
    font-weight: 100;
    color: #FFF;
    }

/* -- User Menu -- */

#header-bottom-right .user {
    color: lightgray;
    font-size: 0;
    line-height: 0;
}

.RES-keyNav-activeElement {
    border: none;
}

#RESShortcutsEditContainer,#RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd{
height:1.25rem;
background:#1F2041;

}
#header-bottom-right{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    border-radius: 0;
    background: transparent;
    height: 32px;
    position: absolute;
    color: #fff;
    top: 146px;
    right: 20px;
}

.res #header-bottom-right {
    top: 146px;
    border-radius: 0;
    bottom:auto;
}

#header-bottom-right a {
	color: white;
}

#userbarToggle {
	border: none !important;
	background-color: transparent !important;
	color: #FFF !important;

}

/* Combine submit buttons */
.side .submit-link {
  display:none;
}

.side{
margin-top:10px;
padding: 10px;
background-color:#FFF;
border: 1 px solid #000;
color:#000;
padding:6px 16px;
box-shadow:0px 1px 5px rgba(0,0,0,0.16);
}

/* Resize search bar to match sidebar */
#search input[type=text] {
    width: 268px;
}

/* Site Table Width */
.sitetable{
margin-right:300px;
}

/*Green Infobox wraparound bar*/
.titlebox .usertext .md {overflow:visible;}
.titlebox .usertext .md > h1 {
background-color: #005000;
border-bottom: 1px solid #002200;
font-size: 20px;
color: #FFF;
margin: 10px -10px 5px -18px;
padding: 5px 1px 2px 20px;
z-index: 10;
}

/* == Sidebar Header Flags == */

.titlebox blockquote:first-child a:hover {
    color: #FFFF00
    }
.sidecontentbox .title h1 {
    display: block
    }
.sidecontentbox {
    padding: 3px;
    font-size: 8.5pt !important
    }
.sidecontentbox ul.content {
    border: 0
    }
.sidecontentbox ul.content li {
    font-size: small;
    margin-bottom: 2px
    }
.icon-menu a {
    background-color: transparent
    }
.titlebox .bottom {
    border: 0
    }
.titlebox form.toggle {
    background-color: transparent
    }
.titlebox .usertext {
    margin: 15px 0;
    line-height: 100%;
    font-size: small
    }
.titlebox .usertext .md {
    margin: 0;
    padding: 0;
    overflow: visible
    }
.titlebox .usertext .md h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #DF0101
    }
.titlebox .usertext .md > h1 {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #0B0B3B;
    color: #FFF;
    padding: 5px 10px;
    padding-left: 20px;
    padding-right: 0;
    margin-right: -11px;
    margin-left: -18px;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    margin-top: 10px;
    z-index: 100
    }
.titlebox .usertext .md > h1:after {
    display: block;
    content: "";
    border-color: transparent #369 transparent transparent;
    border-style: solid;
    border-width: 15px;
    height: 0px;
    width: 0px;
    position: absolute;
    z-index: -1;
    margin-left: -35px;
    margin-top: -10px
    }
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
    border: 0
    }

.titlebox .usertext .md > h1::after {
border-color: transparent #003300 transparent transparent;
border-style: solid;
border-width: 15px;
content: "";
display: block;
margin: -12px 0 0 -35px;
position: absolute;
z-index: -1;
}

/* Hide "Created by..." */

.titlebox .bottom {
    display: none
    }

/* ===== Subscribe Yet? Bar ===== */
.option.active.add:before {
        position: fixed;
        display: block;
        z-index: 1000;
        padding: 5px 0;
        border-top: 1px #0B0B3B4;
        content: "Subscribe to /r/IndyEleven and become a part of this awesome community!";
        text-align: center;
        text-shadow:1px 2px rgb(119, 118, 118);
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #0B0B3B;
        font-size: 16px
}

/* Body */

body{
  background-color:#f4f4f4;
}

/* --- Links (Posts) listing ---------- */

.thing.link.promotedlink.promoted {
border-width: 0!important;
border-color: #d2d2d2;
background-color: #fefff0;
}

.linklisting .thing {
margin: 10px;
padding: 2px 0 2px;
border-color: #f7f7f7;
background-color: #fff;
box-shadow: 0 1px 4px 0 #ccc;
}

.linklisting .even {
background-color: #fbfbfb;
background-image: -moz-linear-gradient(left,#fefefe,#fbfbfb);
background-image: -webkit-linear-gradient(left, #fefefe, #fbfbfb);
}

.linklisting .odd {
background-color: #fefefe;
background-image: -moz-linear-gradient(left,#fdfdfd,#fefefe);
background-image: -webkit-linear-gradient(left, #fdfdfd, #fefefe);
}

.linklisting .link:first-child {
border-top-width: 0 !important;
}

.linklisting .link:last-of-type .flairselector.drop-choices.active {
top: auto!important;
bottom: 0!important;
}

.link.last-clicked {
overflow: visible;
border-width: 1px 0 0;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
background-image: -webkit-linear-gradient(top,#fbfbfb,#f5f5f5);
}


/* --  Links sub-parts ---------- */

.sitetable .rank {
margin: 15px 0 0 8px;
padding: 5px 5px 5px 0;
border-radius: 25px;
background-color: transparent;
/* box-shadow: inset -6px 0 9px -1px #dadac8; */
text-align: right;
}

.sitetable .midcol {
margin: 4px 4px 0 5px;
}

.sitetable .thumbnail {
margin: 2px 2px 2px 5px;
max-height: 60px;
width: auto;
}

.sitetable .thumbnail.self {
    margin: 2px 0px;
}

.sitetable .entry {
margin: 1px 3px 1px 0;
padding-left: 5px;
 }

 .sitetable .title {
margin-top: 2px !important;
margin-bottom: 2px !important;
font-style: normal;
font-variant: normal;
word-spacing: -1px;
}

.link .usertext .md {
padding: 5px 10px;
border: 0 none;
background-color: transparent;
}
.listing-page .link {margin-right: 330px;}

/* Submit A New Post */
.submit .morelink {
    background-image: none;
    background-color: white;
    border-color: #DDD;
    border-radius:2px;box-shadow:2px 2px 2px #ccc;margin-left:2px;margin-right:2px;
}
.submit .morelink:hover {
    background: #A9D0F5;
}
.submit .morelink:hover a { color: black; }
.submit .nub { display: none; }

.side .titlebox .redditname a {
    background: url(%%logo%%);
    display: block;
    width: 181px;
    height: 29px;
    text-indent: -9999px;
}

/* ===== Thread templates ===== */

#siteTable a.title[href*="/match_thread"]:before {
    background-image: url(%%match-events%%);
    background-position: 0 -32px;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 16px;
    margin-right: 2px;
    vertical-align: middle;
    width: 16px;
    }
#siteTable a.title[href*="match_thread"] {
    color: #B00000;
    font-weight: bold
    }
#siteTable a.title[href*="/prematch_discussion_thread"]:before {
    background-image: url(%%flair2%%);
    background-position: -21px -210px;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 20px;
    margin-right: 2px;
    vertical-align: middle;
    width: 20px;
    }
#siteTable a.title[href*="prematch_discussion_thread"] {
    color: #B00000;
    font-weight: bold
    }
#siteTable a.title[href*="trash_talk_thread"] {
    color: #B00000;
    font-weight: bold;
    text-transform: uppercase
    }
#siteTable a.title[href*="ask_us_anything"], #siteTable a.title[href*="ask_me_anything"], #siteTable a.title[href*="has_a_rules_page_and_an"], #siteTable a.title[href*="_guide_info_and_flair_stats"] {
    color: #0A8C28;
    font-weight: bold
    }
/* ===== Link Flair Colors ===== */
.linkflair-ama .entry .title { color: #002B5F; font-weight: bold; }
.linkflair-ama .entry .title:visited { color: #002B5F; font-weight: bold; }
.linkflair-meta .entry .title { color: #0A8C28; font-weight: bold; }
.linkflair-meta .entry .title:visited { color: #0A8C28; font-weight: bold; }
.linkflair-trashtalk .entry .title { color: #B00000; font-weight: bold; }
.linkflair-trashtalk .entry .title:visited { color: #B00000; font-weight: bold; }
.linkflair-match .entry .title { color: #B00000; font-weight: bold; }
.linkflair-match .entry .title:visited { color: #B00000; font-weight: bold; }
/* ===== Match events ===== */
a[href="/yellow"], a[href="/second-yellow"], a[href="/red"], a[href="/injury"], a[href="/captain"], a[href="/sub"], a[href="/sub-on"], a[href="/sub-off"], a[href="/goal"], a[href="/own-goal"], a[href="/assist"], a[href="/whistle"], a[href="/offside"], a[href="/penalty-made"], a[href="/penalty-missed"] {
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-image:url(%%match-events%%);
    text-indent: -9999px;
    display:inline-block;
    vertical-align: top;
    border-width: 0
    }
a[href="/yellow"] {
    background-position: 0 0
    }
a[href="/second-yellow"] {
    background-position: -16px 0
    }
a[href="/red"] {
    background-position: -32px 0
    }
a[href="/injury"] {
    background-position: -48px 0
    }
a[href="/captain"] {
    background-position: 0 -16px
    }
a[href="/sub"] {
    background-position: -16px -16px
    }
a[href="/sub-on"] {
    background-position: -32px -16px
    }
a[href="/sub-off"] {
    background-position: -48px -16px
    }
a[href="/goal"] {
    background-position: 0 -32px
    }
a[href="/own-goal"] {
    background-position: -16px -32px
    }
a[href="/assist"] {
    background-position: -32px -32px
    }
a[href="/whistle"] {
    background-position: -48px -32px
    }
a[href="/offside"] {
    background-position: 0 -48px
    }
a[href="/penalty-made"] {
    background-position: -16px -48px
    }
a[href="/penalty-missed"] {
    background-position: -32px -48px
    }
/* ===== Table formatting ===== */
.md table {
    border: 2px solid #fff;
    box-shadow: 0 0 5px #ccc;
    margin: 1px 0 1px 0;
    position: relative;
    text-align: center;
    left: 1px
    }
.titlebox .md table {
    width: 99%
    }
.md table th {
    background: #303030;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #525252;
    color: #fafafa;
    font-weight: bold;
    padding: .5em;
    text-align: center;
    text-shadow: 1px 1px 0 #2f2f2f;
    font-size: 10px
    }
.md table th a {
    color: #363636
}


/* === Formatting === */
.md table td {
    font-size: 10px;
    border: none;
    padding: .3em;
    vertical-align: middle
    }
.md table td a {
    color: #27262c !important;
    font-weight: normal
    }
.md table td a:hover {
    color: #fff !important;
    text-decoration: underline
    }
/* === Alternate row colors === */
.md tr:nth-of-type(odd) {
    background: #fff;
    color: #363636
    }
.md tr:nth-of-type(even) {
    background: #e3e3e3;
    color: #363636
    }
/* === Alternate channel color === */
.md tr:nth-of-type(odd) td:nth-of-type(7) {
    background: #eee
    }
.md tr:nth-of-type(even) td:nth-of-type(7) {
    background: #ccc
    }
/* === Hover color === */
.md tr:hover {
    background: #a0cdff !important;
    cursor: default
    }
.md tr:hover td:nth-of-type(7) {
    background: #396 !important;
    cursor: default
    }

/* ===== Broadcasters ===== */
.md td a[href*="nbcsports.msnbc.com"], .md td a[href*="www.nbc.com"], .md td a[href*="channel/espn"], .md td a[href*="channel/espn2"], .md td a[href*="channel/espn3"], .md td a[href*="foxsports.com/foxsoccer"], .md td a[href*="foxsoccerplus.com"], .md td a[href*="youtube.com"], .md td a[href*="youtu.be"], .md td a[href*="/unimas"], .md td a[href*="beinsport.tv"], a[href*="fox.com"], a[href*="msn.foxsports.com/foxsports1"] {
    background-color: transparent;
    background-image: url(%%broadcasters%%);
    background-repeat: no-repeat;
    padding: 15px 0px 7px 65px;
    margin-left: 3px;
    display: block
    }
.md td a[href*="nbcsports.msnbc.com"] {
    background-position: 0 0
    }
.md td a[href*="www.nbc.com"] {
    background-position: 0 -26px
    }
.md td a[href*="channel/espn"] {
    background-position: 0 -52px
    }
.md td a[href*="channel/espn2"] {
    background-position: 0 -78px
    }
.md td a[href*="channel/espn3"] {
    background-position: 0 -104px
    }
.md td a[href*="foxsports.com/foxsoccer"] {
    background-position: 0 -286px
    }
.md td a[href*="foxsoccerplus.com"] {
    background-position: 0 -311px
    }
.md td a[href*="sportsnet.ca"] {
    background-position: 0 -338px
    }
.md td a[href*="youtube.com"], .md td a[href*="youtu.be"] {
    background-position: 0 -364px
    }

    /* --- Links (Posts) listing ---------- */

    .thing.link.promotedlink.promoted {
    border-width: 0!important;
    border-color: #d2d2d2;
    background-color: #fefff0;
    }

    .linklisting .thing {
    margin: 10px;
    padding: 2px 0 2px;
    border-color: #f7f7f7;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 #ccc;
    }

    .thing.stickied.link a.title {
    font-weight: bold;
    color: #228822;
    }

    .linklisting .even {
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(left,#fefefe,#fbfbfb);
    background-image: -webkit-linear-gradient(left, #fefefe, #fbfbfb);
    }

    .linklisting .odd {
    background-color: #fefefe;
    background-image: -moz-linear-gradient(left,#fdfdfd,#fefefe);
    background-image: -webkit-linear-gradient(left, #fdfdfd, #fefefe);
    }

    .linklisting .link:first-child {
    border-top-width: 0 !important;
    }

    .linklisting .link:last-of-type .flairselector.drop-choices.active {
    top: auto!important;
    bottom: 0!important;
    }

    .link.last-clicked {
    overflow: visible;
    border-width: 1px 0 0;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
    background-image: -webkit-linear-gradient(top,#fbfbfb,#f5f5f5);
    }

/* ====== User Flair ====== */
/* ===== Flair hover effect ===== */
.flair:hover {width: auto;height: 30px;line-height: 30px;padding: 2px 1ex 1px 2px;border-width: 1px;border-radius: 2px;background-color: whitesmoke;margin-right: 1ex;cursor:default}

.flairsample-left.texteditable .flair {font-size: 0em;}
.flairsample-left.texteditable .flair:hover {font-size: 1em;}

.flair:before {content:'';height:30px;width:30px;display: inline-block;background-repeat: no-repeat;background-image: url(%%flair%%);vertical-align: top;margin-right: 4px}
.flair {box-sizing:initial;width:30px;height:30px;line-height: 16px;overflow: hidden;vertical-align: middle;font-size: inherit;background-color: transparent;color: #222;padding: 2px;margin-right: 3px;border-width: 0;border-radius: 3px}
.flair-0:before{background-position:-0px -0px;}
.flair-1:before{background-position:-30px -0px;}
.flair-10:before{background-position:-60px -0px;}
.flair-11:before{background-position:-90px -0px;}
.flair-12:before{background-position:-120px -0px;}
.flair-13:before{background-position:-150px -0px;}
.flair-14:before{background-position:-180px -0px;}
.flair-15:before{background-position:-210px -0px;}
.flair-16:before{background-position:-240px -0px;}
.flair-17:before{background-position:-270px -0px;}
.flair-18:before{background-position:-0px -30px;}
.flair-19:before{background-position:-30px -30px;}
.flair-2:before{background-position:-60px -30px;}
.flair-20:before{background-position:-90px -30px;}
.flair-21:before{background-position:-120px -30px;}
.flair-22:before{background-position:-150px -30px;}
.flair-3:before{background-position:-180px -30px;}
.flair-4:before{background-position:-210px -30px;}
.flair-5:before{background-position:-240px -30px;}
.flair-6:before{background-position:-270px -30px;}
.flair-7:before{background-position:-0px -60px;}
.flair-8:before{background-position:-30px -60px;}
.flair-9:before{background-position:-60px -60px;}
