doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/icono.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block addCSS
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="#") Sam the Flair Man
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/sprites") Sprites
          li
            a(href="/flair") Flair CSS
          li
            a(href="/subreddits") Subreddits
        if locals.user
          div.navbar-right.navbar-nav
            ul.nav.navbar-nav
              li
                a(href='/auth/profile') Welcome #{user.username}
              if locals.user.associatedSubreddits
                li.dropdown
                  a.dropdown-toggle(data-toggle="dropdown", href="#") Subreddits
                    span.caret
                  ul.dropdown-menu
                    each sr in user.associatedSubreddits
                      li
                        a(href="/subreddits/#{sr}") #{sr}
              li
                a(href="/auth/logout") Logout
        else
          div.navbar-right.navbar-nav
            ul.nav.navbar-nav
              li
                a(href="/auth/reddit") Login
    div.main
      block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  block addJS
