extends layout

block addCSS
  link(rel='stylesheet', href='/stylesheets/dropzone.css')

block content
  h1 #{sr.subredditName}
  form#spriteDrop.dropzone(action='/sprites/new/#{sr.subredditName}')
    div.dropzone-previews#previews

block addJS
  script(src='/javascripts/dropzone.js')
  script(src='/javascripts/dropzoneAddOn.js')
